
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --cian:#03a9f4;
    --dark-cian:#0276aa;
    --light-cian:#C4C4C4;
    --blue:#637BFE;
    --dark-blue:#2a3eb1;
    --dark2-blue:#080352;
    --light-blue:#DCDFF0;
    --teal:#00e676;
    --octo:#F5F7F9;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        height: 100%;
        background: rgba(99, 123, 254, 0.13);
    }

    a {
        text-decoration: none;
    }

    /*Nav bar style*/

    li a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600 ;
        font-size: 18px;
        color:#000000;
        margin-left: -10px
        
    }

    ul {
        list-style: none;
    }
    
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40%;
        background-color:#C4C4C4;
        box-sizing: border-box;
    }

.nav {
        list-style: none;
        
    }
    
.nav li {
        display: inline-block;
        padding: 0px 20px;
        cursor: pointer;
    }

.nav li a {
        transition: all 0.3s ease 0s;
        
    }

.nav li a:hover {
        color: #ffffff;
    }
    

/*section initial */
 
.container .content {
    display: flex;
    justify-content: space-around;
    margin-top: 109px;
    align-items: center;
}

.profile-wrapper {
    background: #fff;
    width: 323px;
    height: 100%;
    border-radius: 10px;
}

.container .content .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content .profile img {
    width: 100%;
    max-width: 188px;
    padding-top: 40px;
}

.container .content .profile h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 50px 0 33px;
}

.profile-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
}

.profile-social img {
    width: 30px;
    height: 30px;
}

.profile-social a {

    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.welcome-message h1 {
    font-family: Roboto;
    font-size: 48px;
    max-width: 298px;
    font-weight: 500;
}

#card {
    width: 323px;
    height: 386px;
    margin-left: 10%;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;  

    display: flex;
    justify-content: center;

}

/*section 2*/

.hero {
    width: 100%;
    height: 576px;
    margin-top: 109px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 109px;
    align-items: center;
}
.hero img {
    width: 379px;

}
.hero h1 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}
.tecs-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tecs-1 img {
    height: 80px;
    width: 80px;
    margin-bottom: 19px;
}

  /*teste  parei aqui*/

  .projects {
    height: 817,34px;
    align-items: center;

}
.projects img {
    position: absolute;
    height: 817.34px;
    width: 100%;
    border-radius: 0px;
}
.tecs-2 span{
    display: flex;
    justify-content: center;
    border: solid  yellow;
    position: relative;

}
.tecs-2 img {
    display: inline-block;
    top: 28px;
    border: solid  red;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    

}

/*section 2/2*/

/* .projects {
    height: 817,34px;
    align-items: center;

}
.projects img {
    position: absolute;
    height: 817.34px;
    width: 100%;
    border-radius: 0px;
}
.tecs-2 {
    position: static;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
.tecs-2 img {
    margin-left: 10px;
    height: 80px;
    width: 80px;
    display: flex;

} */
