@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --cian:#03a9f4;
    --dark-cian:#0276aa;
    --light-cian:#C4C4C4;
    --blue:#637BFE;
    --dark-blue:#2a3eb1;
    --dark2-blue:#080352;
    --light-blue:#DCDFF0;
    --teal:#00e676;
    --octo:#F5F7F9;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        height: 100%;
        background: rgba(99, 123, 254, 0.13);
    }

    a {
        text-decoration: none;
    }

    /*Nav bar style*/

    li a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600 ;
        font-size: 18px;
        color:#000000;
        margin-left: -10px
        
    }

    ul {
        list-style: none;
    }
    
    
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40%;
        background-color:#C4C4C4;
        box-sizing: border-box;
    }

.nav {
        list-style: none;
        
    }
    
.nav li {
        display: inline-block;
        padding: 0px 20px;
        cursor: pointer;
    }

.nav li a {
        transition: all 0.3s ease 0s;
        
    }

.nav li a:hover {
        color: #ffffff;
    }
/*section initial */
 
.container .content {
    display: flex;
    justify-content: space-around;
    margin-top: 109px;
    align-items: center;
}

.profile-wrapper {
    background: #fff;
    width: 323px;
    height: 100%;
    border-radius: 10px;
}

.container .content .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content .profile img {
    width: 100%;
    max-width: 188px;
    padding-top: 40px;
}

.container .content .profile h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 50px 0 33px;
}

.profile-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
}

.profile-social img {
    width: 30px;
    height: 30px;
}

.profile-social a {

    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.welcome-message h1 {
    font-family: Roboto;
    font-size: 48px;
    max-width: 298px;
    font-weight: 500;
}

#card {
    width: 323px;
    height: 386px;
    margin-left: 10%;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;  

    display: flex;
    justify-content: center;

}

/*section 2*/

.hero {
    width: 100%;
    height: 576px;
    margin-top: 109px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 109px;
    align-items: center;
}
.hero img {
    width: 379px;

}
.hero h1 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}
.tecs-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tecs-1 img {
    height: 80px;
    width: 80px;
    margin-bottom: 19px;
}

  /*Section 2/2*/

  .projects {
    height: 817,34px;
    align-items: center;
    position: relative;
}
.projects img {
    position: absolute;
    height: 817.34px;
    width: 100%;
    border-radius: 0px;
}
.projects h1 {
    position: absolute;
    right: 50%;
    transform: translate(50%,500%);
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    font-family: Roboto;
}
.tecs-2 {
    height: 108px;
    width: 352px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,28px);
    
}

.tecs-2 #js-logo {
    position: absolute;
    left:4%;
    margin-top 28px;
    height: 80px;
    width: 80px;
}
.tecs-2 #py-logo {
    position: absolute;
    left:26.5%;
    height: 80px;
    width: 80px;
}
.tecs-2 #php-logo {
    position: absolute;
    right:27%;
    height: 80px;
    width: 80px;
}
.tecs-2 #sql-logo {
    position: absolute;
    right:4%;
    height: 80px;
    width: 80px;
}
/* section 2/3*/
.repo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    width: 534px;
    height: 170px;  
}
.repo a {
    padding: 50% 50%;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto;
    text-align-last: center;
    color: #fff;
    border: #000 0.5px;
}
.repo a:hover {
    color: #000;
    border: #fff 0.5px;
}
.repo .card-1 {
    position: absolute;
    left: -50%;
    bottom: -300%;
    width: 150px;
    height: 170px;
    background-color: #FFD600;
    border-radius: 10px;
    box-shadow: 0, 10px, 10px (var)--light-cian;
    display: flex;
    justify-content: center;
    padding: 57px 57px;
    text-decoration: none;
}
.repo .card-2 {
    position: absolute;
    left: -15%;
    bottom: -300%;
    width: 150px;
    height: 170px;
    background-color: #FF6D00;
    border-radius: 10px;
    box-shadow: 0, 10px, 10px (var)--light-cian;
    display: flex;
    justify-content: center;
    padding: 57px 57px;
    text-decoration: none;
} 
    
.repo .card-3 {
    position: absolute;
    left: 20%;
    bottom: -300%;
    width: 150px;
    height: 170px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0, 10px, 10px (var)--light-cian;
    display: flex;
    justify-content: center;
    padding: 57px 57px;
    text-decoration: none;
} 


