
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --cian:#03a9f4;
    --dark-cian:#0276aa;
    --light-cian:#C4C4C4;
    --blue:#637BFE;
    --dark-blue:#2a3eb1;
    --dark2-blue:#080352;
    --light-blue:#DCDFF0;
    --teal:#00e676;
    --octo:#F5F7F9;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /*Nav bar style*/

    li a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600 ;
        font-size: 18px;
        color:#000000;
        margin-left: -10px
        
    }
    
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40%;
        background-color:#C4C4C4;
        box-sizing: border-box;
    }

.nav {
        list-style: none;
        
    }
    
.nav li {
        display: inline-block;
        padding: 0px 20px;
        cursor: pointer;
    }

.nav li a {
        transition: all 0.3s ease 0s;
        
    }

.nav li a:hover {
        color: #ffffff;
    }
    

/*Div inicial */


.container {
    position: relative;
    width: 100%; 
    height: 611px;
    background-color: #637afe27;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#card {
    width: 323px;
    height: 386px;
    margin-left: 10%;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px ;  
}
/*PAREI AQUI */
#card.profile {
    align-items: flex-end;
}
#wel-top{
    margin-left: -40%;

}
.top{
    display: flex;
    margin-top: -25px;
    padding-bottom:150px;
    background-color: var(--octo);
}
#octocat {
    align-items: left;
    max-width: 800px;
    max-height: 600px;
    width: 350px;
    height: 350px;
}
#tt1{
    margin-top: 100px;
    text-align: left;
}
.list-links{
    background-color: var(--octo);
    text-align: center;
    margin: 0 35%;
    margin-top: -250px;
    margin-bottom: 180px; 
}
.list-links button{
    display: grid;
    grid-area: 3,2,3;
    row-gap: 3px;
   
}
.list-links a {
    color: white;
    text-align: right;
    text-decoration: none;
}
.b-links{
    display: flex;
    justify-self: center;
    margin-bottom: 105px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.b-links button{
    margin-left: 10%;
    margin-right:0;
    margin-top: -40px;
    padding: 10px;
    width: 125px;
    height: 40px;
}
.b-links a {
    color: white;
    text-align: center;
}

#eu{
    margin 0  auto;
    height: 300px;
    width: 300px;
    border-radius: 200px 200px;
}
    
   
    
  
    
