*{
    background-color: darkcyan;
    font-size: 16;
    font-family: fantasy;
    
}

body {
    background-color: darkorchid;
    font: medium;
    color: green,;
}
h1 {
    font-size: larger;
    color: indigo;
}
